.fondo{
  background: linear-gradient(
    180deg,
    rgb(98, 146, 84) 0%,
    rgb(56, 187, 44) 15%,
    rgb(13, 90, 11) 30%,
    rgb(6, 65, 29) 45%,
    rgb(34, 15, 33) 100%
  );  
}

.fondo-pantalla {
background-image: url('/public/img/ingles-portada.webp');
background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
background-repeat: no-repeat; /* Evita que la imagen se repita */
}

